<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <style type="text/css">
        li { list-style: none; }
        ul.alt li { padding: 5px 7px;font-size: 13px; }
        ul.alt li.even { background: #F1F7E2; }
    </style>
</head>
<body>

<div>
    {% block filth_redis_browser_content %}
    {% endblock filth_redis_browser_content %}
</div>
</body>
</html>
